{
	"root": true,
	"env": {
		"node": true
	},
	"parser": "@typescript-eslint/parser",
	"extends": [
		"xo",
		"xo-typescript",
		"prettier"
	],
	"plugins": [
		"@typescript-eslint"
	],
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"project": [
			"./tsconfig.json"
		],
		"sourceType": "module"
	},
	"settings": {
		"svelte3/typescript": "true"
	},
	"overrides": [
		{
			"files": [
				"*.svelte"
			],
			"parser": "svelte-eslint-parser"
		}
	],
	"rules": {
		"no-warning-comments": "off",
		"unicorn/filename-case": "off",
		"@typescript-eslint/ban-types": "off",
		"no-bitwise": "off",
		"capitalized-comments": "off",
		"no-alert": "off",
		"operator-linebreak": "off",
		"curly": [
			"error",
			"multi-or-nest"
		],
		"@typescript-eslint/indent": "off",
		"@typescript-eslint/naming-convention": [
			"error",
			{
				"selector": [
					"classProperty",
					"typeProperty",
					"classMethod",
					"typeMethod",
					"accessor",
					"enumMember"
				],
				"format": [
					"camelCase",
					"UPPER_CASE"
				]
			},
			{
				"selector": [
					"objectLiteralProperty",
					"objectLiteralMethod"
				],
				"format": [
					"PascalCase",
					"camelCase"
				]
			}
		]
	}
}